<div class="row">
    <div class="st-col col-12 col-sm st-module">
        <h6 id="it4xg">Instructions</h6>
        <p id="i35nk"> Upload your files here</p>
    </div>
</div>
<div class="row">
    <div class="st-col col-12 col-sm st-module">
        <h6 id="i50ty">Hiring Costs (cH)</h6>
        <q-slider id="i3181" color="primary" :label="true" :max="100" :min="1" :step="1" v-model="cH"></q-slider>
    </div>
    <div class="st-col col-12 col-sm st-module">
        <h6 id="ineh6">Firing costs (cF)</h6>
        <q-slider id="ioqq2" color="primary" :label="true" :max="10" :min="1" :step="1" v-model="cF"></q-slider>
    </div>
    <div class="st-col col-12 col-sm st-module">
        <h6 id="ixf0k">Inventory costs (cI)</h6>
        <q-slider id="im7lk" color="primary" :label="true" :max="10" :min="1" :step="1" v-model="cI"></q-slider>
    </div>
    <div class="st-col col-12 col-sm st-module">
        <h6>Header Content</h6>
        <q-slider id="in1no" color="primary" :label="true" :max="10" :min="1" :step="1" v-model="cF"></q-slider>
    </div>
</div>
<q-select id="ispjh" :v-model="undefined" label="Choices" :options="[]"></q-select>
<q-select id="i4d9b" :v-model="undefined" label="Choices" :options="[]"></q-select>